@import url(./style.css);
@import url(./utility.css);

/* debugging components */
.tb{
    border: 2px solid red;
}
.tb_bg{
    background-color: red;
}

/* web styles */

.humburger-button{
    width: 30px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    gap: 10px;
    display: none;
}
.humburger-button span{
    width: 100%;
    height: 3px;
    background-color: var(--primary);
}

.page__btn{
    text-decoration: none;
    padding: 10px;
    color: var(--white);
    transition: all 0.5s ease-in-out;
}

.page__btn:hover{
    color: var(--white);
    background-color: var(--black);
}

.page__btn_nh{
    text-decoration: none;
    padding: 10px;
    color: var(--white);
}

.notH{
    font-weight: normal;
}
.notH:hover{
    color: #000;
    font-weight: var(--light);
}

.page__title{
    color: var(--white);
    font-size: var(--dk-heading);
    font-weight: var(--mthick);
}
.page__title::after{
    content: "";
    width: 150px;
    height: 5px;
    background-color: var(--dominant);
    display: block;
}

.web__title{
    color: var(--white);
    font-size: var(--dk-title);
    font-weight: var(--mthick);
    text-transform: capitalize;
}
.web__title::after{
    content: "";
    width: 150px;
    height: 5px;
    background-color: var(--dominant);
    display: block;
}

.page__heading{
    font-size: var(--dk-heading);
    display: inline-flex;
    padding: 10px;
    border-bottom: 5px solid var(--dominant);
}

.fixed_heading{
    width: 200px;
}
.heading__box{
    display: flex;
    justify-content: center;
    padding: var(--g-xsml);
}
.ib_p{
    padding: var(--g-mid) var(--g-lxl);
}
.about__subheading{
    padding-left: 5px;
    border-left: 3px solid var(--dominant);
}
.page__subheading{
    font-size: var(--dk-subheading);
    color: var(--primary);
}
.footer__heading{
    width: 85px;
    font-size: var(--dk-text);
    border-bottom: 2px solid var(--dominant);
    padding-bottom: 5px;
}

/* Mobile screen */
@media screen and (max-width: 350px){
    *{
        font-size: var(--mb-text);
    }
    .page__heading{
        font-size: var(--mb-heading);
    }
    .page__subheading{
        font-size: var(--mb-subheading);
    }
}