@import url(./style.css);
@import url(./all.css);

.bg--primary{
    background-color: var(--primary);
}
.bg--secondary{
    background-color: var(--secondary);
}
.bg--dominant{
    background-color: var(--dominant);
}
.bg--primary{
    background-color: var(--primary);
}
.bg--transparent{
    background-color: var(--transparent);
}
.bg--black{
    background-color: var(--black);
}
.bg--about{
    background-image: url(../Image/Banner/about.png);
}
.bg--team{
    background-image: url(../Image/Banner/team.png);
}
.bg--partners{
    background-image: url(../Image/Banner/partner.png);
}
.bg--courses{
    background-image: url(../Image/Banner/course.png);
}
.bg--career{
    background-image: url(../Image/Banner/career.png);
}
.bg--career-apply{
    background-image: url(../Image/Banner/career-apply.png);
}
.bg--contact{
    background-image: url(../Image/Banner/contact.png);
}
